.DS_Store
.Rhistory
.~lock.*
*.xlsx
*.py
ノーマル.png
グー.png
チョキ.png
パー.png
ため.png
はい.png
はい2.png
惜しい.png
わかるかな？.png
バイバイ.png
背景.png
色々.png
覗き.png
覗き2.png
ボタン.png
images/bye_backup.png
images/bye_debug.png
images/bye_comparison.png
